
main{
    font-family: cursive;
}
/* Mission 1 ET 2 ET 3 Code */
/* section2-mission1 */
section{
    margin: 5px;
}
.section2-mission1 > div{/*div de section grid*/
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% ;
}
.section2-mission1 h3{/*titre h3 */
    background-color: black;
}
.Outils-Fournis1 h3{/*titre dans outils fournis*/
    text-align: center;
}
.Outils-Fournis1 p{/*texte dans outils fournis*/
    margin-top: 30px;
}
.Outils-Fournis1 span{/*Excel*/
    display: flex;
    justify-content: center;
    background-color: grey;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
}
.Outils-Fournis1 img{/*image excel*/
    position: relative;
    left: 20px;
    width: 30px;
    height: 90%;
}
.Outils-Fournis1 a:hover{/*hover sur le excel*/
    width: 32px;
}
.table-Base1{/*table de la base*/
    display: flex;
    flex-direction: column;
}
.table-Base1 h3{/*titre de la table de la base*/
    text-align: center;
}
.table-Base1 ul{/*liste non ordonnee de la table de la base*/
    color: black;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 15px;
}
.table-Base1 li{/*liste de la table de la base*/
    border: 2px solid black;
    background-color: grey;
    border-radius: 10px;
    text-align: center;

}
select{/*les select*/
    background-color: grey;
}
/* Fin section2-mission1 ET 2 ET 3 Code*/


/* Section Bilan mission1 */
.Bilan1 h3{
    text-align: center;
    color: skyblue;
}
.Bilan1 > p{
    color: skyblue;
    text-align: center;
}
.Identification1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    color: black;
}
.Identification1 h4{
    text-align: center;
}
.Identification1 h5{
    text-align: center;
}
.Identification1 span{
    grid-column: span 2;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px 10px 0 0;
}
.Identification1 div{
    padding: 3px;
    border: 2px solid black;
    background-color: gray;
    border-radius:10px ;
}
.Recherche1{/*section Recherche*/
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    color: black;
}
.Recherche1 h4{/*titre de la section Recherche*/
    text-align: center;
}
.Recherche1 span{/*Span de la section Recherche*/
    grid-column: span 2;
    background-color: grey;
    border: 2px solid black;
}
.Recherche1 div{/*Div de la section Recherche*/
    padding: 3px;
    border: 2px solid black;
    background-color: gray;
    border-radius:10px ;
    text-align: center;
}
.Produit-commandé{/*4eme lignes sur les infos clés*/
    grid-column: span 2;
}
/* fin du Bilan */

/* Partie Conclusion */
.Conclusion1{
    color: black;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3px;
}
.Conclusion1 h3{
    color: skyblue;
    text-align: center;
}
/* Fin Mission 1 Code */


/* Mission 2 Code */



