/* police importé depuis google fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
	background: #2c3e50;    
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;

}


/* Header */
header{
	width: 100%;
	height: 170px;
	margin: 0;
	padding: 20px;

	border: solid #34495e;
	border-radius: 10px;
	box-sizing: border-box;
	background: linear-gradient(135deg, #1e1f26, #4a80e6,#1e1f26);
	font-family: sans-serif;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	position: fixed;
	z-index: 5;
}
header h1{ /*Titre de la page*/
	position: relative;   
    font-family: cursive;
    text-transform: uppercase;
	font-size: 140%;
}
nav{/*navigation*/
    font-family: 'Open Sans', sans-serif;
	width: 580px;
	height: 50px;

	background: #34495e;
	border-radius: 8px;	
	box-shadow: 0 2px 10px 2px rgba(0,0,0.1);
	
	display: flex;	
	justify-content: space-around;
	
	position: relative;
	overflow: hidden;
}
/*quand on clique sur la nav*/
nav a{	
	color: white;

	font-size: 79%;
	padding: 15px;

	display: inline-block;
	text-align: center;

	position: relative;
	z-index: 1;
}
nav a:hover{/*quand on passe sur les liens de la nav avec la souris*/
	font-size: 85%;
	color: black;
}
/*l'animation verte sur la nav*/
nav .animation{
	background: #1abc9c;
	border-radius: 8px;
	height: 100%;

	position: absolute;
	z-index: 0;
	top: 0;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){/*Controle le lien Acceuil*/
	width: 20%;
}
nav .start-home, a:nth-child(1):hover~.animation{/*Controle l'animation verte sur le lien Acceuil*/
	width: 20%;
	left: 0;
}
nav a:nth-child(2){/*Controle le lien Mission1*/
	width: 20%;
}
nav a:nth-child(2):hover~.animation{/*Controle l'animation verte sur le lien Mission1*/
	width: 20%;
	left: 20%;
}
nav a:nth-child(3){/*Controle le lien Mission2*/
	width: 20%;
}
nav a:nth-child(3):hover~.animation{/*Controle l'animation verte sur le lien Mission2*/
	width: 20%;
	left: 40%;
}
nav a:nth-child(4){/*Controle le lien Mission3*/
	width: 20%;
}
nav a:nth-child(4):hover~.animation{/*Controle l'animation verte sur le lien Mission3*/
	width: 20%;
	left: 60%;
}
nav a:nth-child(5){/*Controle le lien Rapport*/
	width: 20%;
}
nav a:nth-child(5):hover~.animation{/*Controle l'animation verte sur le lien Rapport*/
	width: 20%;
	left: 80%;
}/*fin animation verte*/
/* fin nav */
/*fin Header*/


/* Main */
main{
	width: 100%;
	color: white;
	font-family: cursive;
	margin-top: 160px;
}	
section ul{
	padding-right: 10px;
}
.main-pageAcceuil{
	font-family: sans-serif;
}
.main1 p{
	margin-left: 3px;
}
.main2 p{
	margin-left: 3px;
}
ul{
	list-style-type: none;
}
h3 a{
	color: white;
}
h2{
    font-family: cursive;
}
a{/*lien sur nos prenoms*/
    text-decoration: none;
}
h3 a:hover{/*animation sur nos noms*/
	color: pink;
}/*fin animation nom*/
/* Fin du Main */


/*Footer*/
footer{
	font-family: sans-serif;
	width: 100%;
	background-color: #1e1f26;
	color: #dcdcdc;
	display: flex;
	flex-direction: column;
}
footer h1{ /*Titre de la page*/
	position: relative;   
    font-family: cursive;
    text-transform: uppercase;
	font-size: 100%;
}
.footer1 p{
	margin-left: 3px;
}
.footer1{/*partie contact*/
	display: flex;
	justify-content: space-around;
}
.footer1 section{/*Partie 1 contact du footer*/
	flex-direction: row;
	width: 33%;
}
.footer1 h1{/*Titre dans la partie contact du footer*/
	text-align: left;
}
.footer1 button{/*button dans le footer*/
	font-size: 1.4rem;
	border: none;
	color: #dcdcdc;
	height: 40px;
	width: 75%;	
	margin: 0 auto;	
	background-color: #1b008d;
}
.footer1 button:hover{/*passage de la souris sur les button dans le footer*/
	width: 79%;
}
.footer2{/*Footer partie ligne blanche*/
	position: relative;
	top: 10px;
	height: 0.5px;
	background: linear-gradient(100deg, #1e1f26,white,#1e1f26 );
	border-radius: 10px;
	width: 90%;
	margin: 0 auto;
}
.footer3{/*Footer partie copyright*/
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #737477;
}
.footer3 p{/*paragraphe partie copyright*/
	text-align: center;
}
.footer3 ul{/*conditions d'utilisation*/
	display: flex;
	gap: 1%;
	font-size: 80%;
	justify-content: center;
}
.footer3 a{/*Lien dans le Footer*/
	color: #737477;
}
/* Fin du Footer */

/*flèche pour retourner en haut*/
.returnHeight{
	position: fixed;
	z-index: 1000;
	bottom: -530px;
	right: -325px;
	width: 420px;
	height: 600px;
}
.returnHeight img{
	width: 50px;
	height: 50px;
}
.returnHeight img:hover{
	height: 56px;
}
/*fin fleche*/

/* Partie Rapport */
.Rapport section{
	font-family: sans-serif;
	font-family: cursive;
	margin: 5px;
	color: white;
}

.Rapport h2{
	color: lightblue;
	text-align: center;
	text-decoration: underline;
}
.Rapport h3{
	text-align: center;
	color: lightblue;
}
/* Fin du Rapport */


/*media query permet d'ajuster l'ecran quand on change de d'appareil ou quand on reduit la taille de l'onglet */
@media screen and (max-width:700px){
	header{
		padding: 10px;
	}
	h1{
		white-space: nowrap;
	}
	nav{
		width: 98%;
	}
	nav a{
		font-size: 74%;
		white-space: nowrap;
	}
	nav a:hover{/*quand on passe sur les lien de la nav avec la souris*/
		font-size: 79%;
		color: black;
	}
	nav a:nth-child(1){
		width: 20%;
	}
	nav .start-home, a:nth-child(1):hover~.animation{
		width: 20%;
		left: 0;
	}
	nav a:nth-child(2){
		width: 20%;
	}
	nav a:nth-child(2):hover~.animation{
		width: 20%;
		left: 20%;
	}
	nav a:nth-child(3){
		
		width: 20%;
	}
	nav a:nth-child(3):hover~.animation{
		width: 20%;
		left: 40%;
	}
	nav a:nth-child(4){
		width: 20%;
	}
	nav a:nth-child(4):hover~.animation{
		width: 20%;
		left: 60%;
	}
	nav a:nth-child(5){
		width: 20%;
	}
	nav a:nth-child(5):hover~.animation{
		width: 20%;
		left: 80%;
	}
	footer h1{
		font-size: 90%;
	}
}
@media screen and (max-width:500px){
	h1{
		font-size: 140%;
	}
	nav{
		display: flex;
		justify-content: space-evenly;
	}
	nav a{
		padding-left: 2%;
		padding-right: 2%;
	}
}/*fin media query*/










